/* ====== Header responsive simple ====== */
header {
  background: #c61717;
  color: #fff;
  display: flex;                 /* ligne par défaut */
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
}

header img {
  height: 60px;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 4px;    /* Espace entre bloc titre et menu */
}

header nav ul {
  list-style: none;
  display: flex; 
  justify-content: end;    /* menu horizontal sur grand écran */
  gap: 12px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 6px 10px;
  border-radius: 6px;
}


  /* Menu en bloc plein largeur, multi-lignes si besoin */
  header nav ul {
    max-width: 100%;
    height: auto;
    gap: 8px;
    box-sizing: border-box;
  }

  main h2 {
    font-size: 2.1rem;
    text-align: center;
  }

  
.presentation {
  display: flex;
  flex-wrap: wrap;         /* passe en colonne sur petits écrans */
  gap: 2rem;               /* espace entre image et texte */
  align-items: center;     /* centre verticalement */
  margin: 2rem auto;
  max-width: 1200px;       /* largeur max */
  padding: 0 1rem;         /* marges internes */
  text-align: center;

}
.presentation img {
  flex: 1 1 400px;         /* occupe minimum 400px, mais flexible */
  width: 100%;
  height: auto;
  border-radius: 8px;
  min-width: 80%;
}

.activite {
       /* largeur max pour la lisibilité */
  margin: 0 auto;        /* centre la section horizontalement */
  text-align: center;    /* centre le texte et le titre */
  padding: 1rem;
}



.activite p {
  line-height: 1.6;
  font-size: 1.1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 9px;
  text-align: center;

}
.card img{
 height: 260px;
width: 100%;
}
.card h2 {
  font-size: 1.8rem;
  background: #c61717;
  color: whitesmoke;
}
.card h3 {
  font-size: 1.2rem;
font-style: italic;
text-decoration: underline;
}

col {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}

/* ====== Mobile (<= 768px) ====== */
@media (max-width: 768px) {
  .presentation {
    flex-direction: column;      /* empile logo/titre puis menu */
   
  }
}